
body {
  border-radius: 5px;
  background-color: #0B0C10;
  padding: 35px;
}
.group1 label{
    font-size: 19px;
    font-family: Arial;
    font-weight: medium;
    color: #66FCF1
}
.group2 label {
	font-size: 15px;
	font-family: Arial;
    font-weight: regular;
    color: #66FCF1;
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C5C6C7;
}

input[type=email], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C5C6C7;
}

input[type=password], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C5C6C7;
}
input[type = button]{
  width: 37.5%;
  background-color: #1F2833;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight:bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;}

input[type=button]:hover {
  background-color: #45A29E;


}
